<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <title>MovieMain</title>
</head>
<body>
<div layout:fragment="content">


    <h2 class="title_txt"> 영화 관리 페이지 입니다</h2>
    <div class="col-md-4">
    <form>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="movie-img">영화 포스터</label>
            <input type="text" class="form-control" id="movie-img" placeholder="url을 입력하세요">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <input type="text" class="form-control" id="content" placeholder="내용을 입력하세요">
        </div>
    </form>
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
</div>
</div>
</body>
</html>