<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <title>MovieEventMain</title>
</head>
<body>
<div layout:fragment="content">

<div class="header">
    <h1 class="logoimg"><img class="logoimg" src="https://img.cgv.co.kr/R2014/images/common/logo/logoRed.png" alt="BigData" width="155" height="80"></h1>
    <div class="gnb">
        <h2 class="blind">관리자메뉴</h2>
        <ul class="nav">
            <li><a href="/admin/main">매출 현황</a></li>
            <li><a href="/admin/member">회원 관리</a></li>
            <li><a href="/admin/movie">영화 관리</a></li>
            <li><a href="/admin/schedule">상영 스케줄 관리</a></li>
            <li><a href="/admin/event">이벤트 관리</a></li>
            <li><a href="/">영화 고객사이트</a></li>
        </ul>
    </div>
</div>
<div class="p-img">
    <img src="/resources/img/person.png">
</div>


<div class="container">
    <!-- main 콘텐츠 내용 -->
    <div class="main-title">
        <div class="title-icon"><img src="/resources/img/chartimg.png" width="25" height="25" alt="매출현황아이콘"></div>
        <h2 class="title_txt"> 매출 현황</h2>
    </div>
    <div class="content-cover">
        <div class="chart-Sales">
            <!-- 매출현황그래프 -->
            <br><br>
            <div id="chart">
            </div>
            <div class="reservation-status">
                <!--매장별 예매현황-->
                <div class="citis">
                    <p class="reservation-txt">지역별 매출현황</p>
                    <div class="city-1">
                        <h3 class="city">서울 강남</h3>
                        <div class="today">
                            <p class="today_txt">TODAY</p>
                            <p class="price">5</p>
                            <!--<p class="price">${today1}</p>-->
                            </p>
                        </div>
                        <div class="month">
                            <p class="month_txt">MONTH</p>
                            <p class="price">10</p>
                            <!--<p class="price">${month1}</p>-->
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="city-2">
                        <h3 class="city">서울 강동</h3>
                        <div class="today">
                            <p class="today_txt">TODAY</p>
                            <p class="price">7</p>
                            <!--<p class="price">${today2}</p>-->
                            </p>
                        </div>
                        <div class="month">
                            <p class="month_txt">MONTH</p>
                            <p class="price">15</p>
                            <!--<p class="price">${month2}</p>-->
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="city-3">
                        <h3 class="city">경기 수원</h3>
                        <div class="today">
                            <p class="today_txt">TODAY</p>
                            <p class="price">4</p>
                            <!--<p class="price">${today3}</p>-->
                            </p>
                        </div>
                        <div class="month">
                            <p class="month_txt">MONTH</p>
                            <p class="price">17</p>
                            <!--<p class="price">${month3}</p>-->
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="city-4">
                        <h3 class="city">경기 용인</h3>
                        <div class="today">
                            <p class="today_txt">TODAY</p>
                            <p class="price">2</p>
                            <!--<p class="price">${today4}</p>-->
                            </p>
                        </div>
                        <div class="month">
                            <p class="month_txt">MONTH</p>
                            <p class="price">6</p>
                            <!--<p class="price">${month4}</p>-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--reservation-status-->
        </div>
    </div>
</div>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        <!--content-cover-->

        //매출현황 그래프 JQ-Code
        var line = new Array();
        line = ${
          arr
        };
        jQuery(document).ready(function () {
          console.log("line", line);

          jQuery("#chart").jqplot([line], {
            title: "<h3>지점별 예매 현황</h3>",

            seriesColors: ['rgb(168, 161, 161)', '#00749F', '#CEF279'],
            seriesDefaults: {

              // jQuery.jqplot.BarRenderer 막대 그래프를 그리기위한 플러그인(기본은 꺾은선)
              renderer: jQuery.jqplot.BarRenderer,
              rendererOptions: {
                varyBarColor: false,
              }
            },
            axes: {
              xaxis: {
                // jqplot.CategoryAxisRenderer 축을 카테고리 (범주)로 취급 그리드를 카테고리 구분선으로 표시 할 때 필요하다.

                renderer: jQuery.jqplot.CategoryAxisRenderer
                  // X축 차트의 각 부분의 범주
                  ,
                ticks: ['서울 강남', '서울 강동', '경기 수원', '경기 용인']
              }
            }
          });
        });
      </script>
</th:block>

</div>
</body>

</html>