<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <title>MovieMain</title>
</head>
<body>
<div layout:fragment="content">

    <h2 class="title_txt"> 상영 스케줄 관리 페이지 입니다</h2>

<div class="movie-list-board-cinema">
    <div class="movie-list-board-title-main">
        <h3 class="movie-board-title"></h3>
    </div>
    <span class="screening-list">영화 상영 리스트 </span>
    <table class="movie-board-table">
        <colgroup>
            <col width="14%" />
            <col width="40%" />
            <col width="18%" />
            <col width="25%" />
            <col width="13%" />
        </colgroup>
        <thead class="thead-movie-board">
        <tr class="tr">
            <th style="display: none">SCREENING_NUM</th>
            <th>NUM</th>
            <th>TITLE</th>
            <th>LOCAL</th>
            <th>MOVIE START TIME</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <div class="top-menu-wrapper">
            <div class="search-wrapper">
                <select name="movie-search-category">
                    <option selected disabled hidden>TITLE</option>
                    <!--<c:forEach items="${listTitle}" var="listTitle">
                        <option value="">${listTitle.title}</option>
                    </c:forEach>-->
                    <option var="제목1">제목1</option>
                    <option var="제목2">제목2</option>

                </select>
                <select name="movie-search-category">
                    <option selected disabled hidden>LOCAL</option>
                    <!--<c:forEach items="${listCinema}" var="listCinema">
                        <option value="">${listCinema.local_info_city}
                            ${listCinema.local_info_dist}</option>
                    </c:forEach>-->
                    <option var="극장1">극장1</option>
                    <option var="극장2">극장2</option>
                </select>
                <select name="movie-search-category">
                    <option selected disabled hidden>MOVIE START TIME</option>
                    <!--<c:forEach items="${listStartTime}" var="listStartTime">
                        <option value="">${listStartTime.movie_start_time}</option>
                    </c:forEach>-->
                    <option var="영화시작시간1">영화시작시간1</option>
                    <option var="영화시작시간2">영화시작시간2</option>
                </select>

                <button type="submit" class="movie-search-btn" onclick="">
                    <img src="/resources/img/glass.png">
                </button>
            </div>
        </div>
        <tbody class="movie-board-detail">
       <!-- <c:forEach var="mnlist" items="${list}" varStatus="status">
            <tr class="trboard">
                <td class="screening_num" style="display: none">${mnlist.screening_num}</td>
                <td>${status.index+1}</td>
                <td class="tdTitle">${mnlist.title}</td>
                <td class="tdLocal">${mnlist.local_info_city}
                    ${mnlist.local_info_dist}</td>
                <td class="tdMoviestarttime">${mnlist.movie_start_time}</td>
                <td>
                    <button type="button" class="mypage-btn" value="${mnlist.screening_num}">삭제</button>
                </td>
            </tr>
        </c:forEach>-->
        </tbody>
    </table>
    <div class="movie-writing">
    </div>
    <!--버텀부-->
    <div class="movie-reg-button-wrapper">
        <button type="submit" class="movie-register-btn">
            <a href="${path}/MN_Screening_Board/MN_screening_register">등록</a>
        </button>
    </div>
    <div class="movie-board-bottom">
        <!--<c:if test="${pageMaker.prev}">
            <a href="${path}/MN_Screening_Board/MN_screening_list?page=${pageMaker.startPage-1}&laquo;">
            </a> </c:if>
        <c:forEach begin="${pageMaker.startPage}" end="${pageMaker.endPage}" var="idx">
            <a href="${path}/MN_Screening_Board/MN_screening_list?page=${idx}">${idx}</a>
        </c:forEach>
        <c:if test="${pageMaker.next && pageMaker.endPage > 0}">
            <a href="${path}/MN_Screening_Board/MN_screening_list?page=${pageMaker.endPage+1}">&raquo;</a>
        </c:if>-->
    </div>
</div>

</body>
</html>