<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <title>MovieEventMain</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <!-내용 추가-->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">http://www.cgv.co.kr/culture-event/event/</span>
        </div>
    </div>
</div>
</body>
</html>