<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <title>MovieEventMain</title>
</head>
<body>
<div layout:fragment="content">
<!--    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">-->
<!--        <div class="offcanvas-header">-->
<!--            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>-->
<!--            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="offcanvas-body">-->
<!--            <div>-->
<!--                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.-->
<!--            </div>-->
<!--            <div class="dropdown mt-3">-->
<!--                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">-->
<!--                    Dropdown button-->
<!--                </button>-->
<!--                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                    <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                    <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="header">
                <h1 class="logoimg"><img class="logoimg" src="https://img.cgv.co.kr/R2014/images/common/logo/logoRed.png" alt="BigData" width="155" height="80"></h1>
                <div class="gnb">
                    <h2 class="blind">관리자메뉴</h2>
                    <ul class="nav">
                        <li><a href="/admin/main">매출 현황</a></li>
                        <li><a href="/admin/member">회원 관리</a></li>
                        <li><a href="/admin/movie">영화 관리</a></li>
                        <li><a href="/admin/schedule">상영 스케줄 관리</a></li>
                        <li><a href="/admin/event">이벤트 관리</a></li>
                        <li><a href="/">영화 고객사이트</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-8">
            <!-내용 추가-->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">http://www.cgv.co.kr/culture-event/event/</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>