<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <title>MovieMain</title>


    <th:block layout:fragment="script">

        <script th:inline="javascript">


$(document).ready(function(){
	/*<![CDATA[*/
	$("#btn_modify").click(function(){

			location.href="/adminSchedule/modify?schedule_num=[[${list.schedule_num}]]" ;

	}) //End of $("btn_modify")

	$("#btn_delete").click(function(){
		if(confirm("정말로 삭제하시겠습니까?") == true)
			location.href="/adminSchedule/delete?schedule_num=[[${list.schedule_num}]]";
    }) //End of $("btn_delete")

}





        </script>
    </th:block>


</head>
<body>
<div layout:fragment="content">


    <h1>게시물 내용 보기</h1>
    <br>
    <div class="boardView">
        <div class="schedule_start">상영 시작 시간 : <span th:text="${list.schedule_start}"></span></div>
        <div class="movie_num">영화 번호 : <span th:text="${list.movie_num}"></span></div>
        <!--<div class="mregdate">날짜 : <span th:text="${#temporals.format(list.mregdate, 'yyyy-MM-dd')}"></span></div>
        <div class="textArea"><pre th:text="${list.mcontent}"></pre></div>
        <div class="filename">파일명 : <a href="javascript:fileDownload()"><span th:text="${list.filename}"></span></a></div>-->
        <center><div>
            <a th:href="@{'/adminSchedule/modify?schedule_num=' + ${list.schedule_num}}">
                <button class="btn_modify" id="btn_modify">수정</button></a>
            <a  th:href="@{'/adminSchedule/delete?schedule_num=' + ${list.schedule_num}}">
                <button class="btn_delete" id="btn_delete">삭제</button></a>
        </div></center>
    </div>



</div>
</body>
</html>