<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <title>결제</title>
    <th:block layout:fragment="css">
        <style>
            .svg-wrapper {
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0 auto;
                text-align: center;
            }
        </style>
    </th:block>
    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function(){
                var discount = 0; //총 할인 금액 변수
                var gifticon = 0; //기프티콘 할인 금액
                var point = 0; //포인트 할인 금액
                var totalPrice = 0; //결제 금액
                totalPriceChange(); //결제 금액 처리

                //기프티콘 체크
                $('input[type="checkbox"][name="giftNum"]').click(function(){
                    if($(this).prop('checked')){
                        //기프티콘 1개만 선택 처리
                        $('input[type="checkbox"][name="giftNum"]').prop('checked',false);
                        $(this).prop('checked',true);

                        //할인 처리
                        gifticon = parseInt($('#discount'+$(this).val()).val());
                        if(parseInt(/*[[${item.price}]]*/)-(gifticon+point)<0){
                            alert('할인금액 초과');
                            $('input[type="checkbox"][name="giftNum"]').prop('checked',false);
                            gifticon = 0;
                            discount=point;
                            totalPrice = parseInt(/*[[${item.price}]]*/)-point;
                            $('#total_discount').text(discount);
                        }else{
                            discount = gifticon+point;
                            $('#total_discount').text(discount);
                        }

                        //기프티콘 할인 금액
                        $('input[name=order_discount]').attr('value',gifticon);

                        //결제 금액 처리
                        totalPriceChange();
                    }else{ //체크해제 시
                        gifticon = 0;
                        discount=point;
                        totalPrice = parseInt(/*[[${item.price}]]*/)-point;
                        $('#total_discount').text(discount);

                        //기프티콘 할인 금액
                        $('input[name=order_discount]').attr('value',gifticon);

                        //결제 금액 처리
                        totalPriceChange();
                    }
                });

                //포인트 변경시 포인트 값 처리
                function pointChange(){
                    if($('#txt_point').val() == ""){
                        point=0;
                    }else{
                        point=parseInt($('#txt_point').val());
                    }

                    if(parseInt($('#lbl_point').text())<point){
                        $('#txt_point').val($('#lbl_point').text());
                    }

                    //포인트 할인 처리
                    if(parseInt(/*[[${item.price}]]*/)-(gifticon+point)<0){
                        alert('할인금액 초과');
                        $('#txt_point').val(0);
                        point = 0;
                        discount=gifticon;
                        totalPrice = parseInt(/*[[${item.price}]]*/)-gifticon;
                        $('#total_discount').text(discount);
                    }else{
                        discount = gifticon+point;
                        $('#total_discount').text(discount);
                    }

                    //포인트 차감
                    $('input[name=order_minus_point]').attr('value',point);

                    //결제 금액 처리
                    totalPriceChange();
                }

                //결제 금액 처리
                function totalPriceChange(){
                    totalPrice = parseInt(/*[[${item.price}]]*/)-discount;
                    $('#total_price').text(totalPrice);
                    //총 결제 금액
                    $('input[name=order_total_price]').attr('value',totalPrice);
                    //적립 포인트
                    var plusPoint = Math.floor(totalPrice*0.1/100) * 100
                    $('input[name=order_plus_point]').attr('value',plusPoint);
                }

                $('#btn_point').click(function(){ //포인트 전액 사용
                     $('#txt_point').val($('#lbl_point').text());
                     pointChange();
                });

                $('#txt_point').focus(function(){//포인트 입력값 초기화
                    $('#txt_point').val('');
                });

                $('#txt_point').on("change keyup paste", function() { //포인트 변경시 포인트 값 처리
                    pointChange();
                });
            });
        </script>
    </th:block>
</head>
<div layout:fragment="content">

    <div class="container">
        <form action="#" th:action="@{/order/moviePay}" th:object="${orderPay}" method="post">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-bottom:200px;">
                <div class="col-md-8">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-heading">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse" aria-expanded="true" aria-controls="panelsStayOpen-collapse">
                                    영화예매
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading">
                                <div class="accordion-body">

                                    <div class="card mb-3" style="max-width: 540px;">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img th:src="${item.imgUrl}" class="img-fluid rounded-start" th:alt="${item.itemNm}" style="overflow: hidden; width: 100%; height: 100%;">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title" th:text="${item.itemNm}">스파이더맨</h5>
                                                    <input type="hidden" th:value="${item.itemNm}" name="product_name">
                                                    <input type="hidden" th:value="${item.id}" name="product_num">
                                                    <p class="card-text" th:text="|${#numbers.formatInteger(item.price,1,'COMMA')}원|">0원</p>
                                                    <p class="card-text"><small class="text-muted" th:text="${item.itemDetail}">설명</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    기프티콘
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <div style="display:inline-block;" th:each="gifticon : ${gifticons}">
                                        <input type="checkbox" class="btn-check" th:id="${gifticon.giftNum}" th:value="${gifticon.giftNum}" name="giftNum" autocomplete="off">
                                        <label class="btn btn-outline-dark" th:for="${gifticon.giftNum}" style="margin-bottom: 5px;">
                                            <div class="row">
                                                <div class="col-md-auto">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="40"fill="currentColor" class="bi bi-ticket-perforated svg-wrapper" viewBox="0 0 16 16">
                                                        <path d="M4 4.85v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Z"/>
                                                        <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13ZM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9V4.5Z"/>
                                                    </svg>
                                                </div>
                                                <div class="col-md-auto">
                                                    <span th:text="${gifticon.product_name}">영화 기프티콘</span><br>
                                                    <span name="order_discount" th:text="${#numbers.formatInteger(gifticon.product_price,1,'COMMA')}">0</span><br>
                                                    <span><small class="text-muted" th:text="${#temporals.format(gifticon.gift_exp, 'yyyy-MM-dd')}">2022.10.20 까지</small></span>
                                                    <input type="hidden" name="order_discount" th:id="|discount${gifticon.giftNum}|" th:value="${gifticon.product_price}">
<!--                                                    <input type="hidden" name="giftNum" th:value="${gifticon.giftNum}">-->
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                                    포인트
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <div class="mb-3 row">
                                        <label class="col-sm-2 col-form-label">포인트 잔액</label>
                                        <div class="col-sm-10">
                                            <label class="col-sm-1 col-form-label" id="lbl_point" style="text-align: right; padding-right: 5px;" th:text="${member.point}">0</label>p
                                        </div>
                                    </div>

                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <input type="number" class="form-control" id="txt_point" name="order_minus_point" min=0; max=100; value="0">
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-primary mb-3" id="btn_point">전액사용</button>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                항상 포인트 전액 사용
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                                    결제수단
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            네이버 페이
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">상품금액</div>
                                <div class="fw-bold" th:text="${#numbers.formatInteger(item.price,1,'COMMA')}">0</div>
                                <input type="hidden" id="origin_price" name="order_origin_price" th:value="${item.price}">
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">할인금액</div>
                                <div class="fw-bold" id="total_discount">0</div>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">결제금액</div>
                                <div class="fw-bold" id="total_price" th:text="${#numbers.formatInteger(item.price,1,'COMMA')}">0</div>
                                <input type="hidden" name="order_total_price" th:value="${item.price}">
                                <input type="hidden" name="order_plus_point" value="0">
                                <input type="hidden" name="order_type" value="movie">
                                <input type="hidden" name="order_to_id" value="2">
                                <input type="hidden" name="order_num_group" value="1">
                                <input type="hidden" name="memberId" th:value="${member.id}">
                            </div>
                        </li>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-outline-primary" th:href="'/item/' +${item.id}">취소</a>
                            <button type="submit" class="btn btn-primary" th:href="@{/order/pay}">결제</button>
                        </div>
                    </ol>
                </div>
            </div>
        </form>
    </div>
</div>
</html>