<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <title>구매내역</title>
    <th:block layout:fragment="css">
        <style>

        </style>
    </th:block>
    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function(){

            });
        </script>
    </th:block>
</head>
<div layout:fragment="content">

    <div class="container">
        <h2>구매내역</h2>
        <h5><span th:text="${#lists.size(orders)}"></span></h5>
        <br>
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">상품명</th>
                <th scope="col">구매날짜</th>
                <th scope="col">금액</th>
                <th scope="col">적립금</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <th scope="row" th:text="${order.orderNum}">0</th>
                <td th:text="${order.product_name}">Mark</td>
                <td th:text="${#temporals.format(order.order_date, 'yyyy-MM-dd')}">Otto</td>
                <td th:text="${order.order_total_price}">@mdo</td>
                <td th:text="${order.order_plus_point}">@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>