<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <title>MovieTheater</title>


    <th:block layout:fragment="script">

        <script th:inline="javascript">


$(document).ready(function(){
	/*<![CDATA[*/
	$("#btn_modify").click(function(){

			location.href="/adminTheater/modify?theater_area_num=[[${list.theater_area_num}]]" ;

	}) //End of $("btn_modify")

	$("#btn_delete").click(function(){
		if(confirm("정말로 삭제하시겠습니까?") == true)
			location.href="/adminTheater/delete?theater_area_num=[[${list.theater_area_num}]]";
    }) //End of $("btn_delete")

}





        </script>
    </th:block>


</head>
<body>
<div layout:fragment="content">


    <h1>극장 상세 페이지</h1>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="text-white bg-dark">구분</th>
            <th scope="col" class="text-white bg-dark">내용</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" >극장 번호 </th>
            <td><span th:text="${list.theater_area_num}"></span></td>
        </tr>
        <tr>
            <th scope="row" class="table-active">극장 이름 </th>
            <td class="table-active"><span th:text="${list.theater_name}"></span></td>
        </tr>

        <tr>
            <th scope="row" class="table-active">극장 지역 </th>
            <td class="table-active"><span th:text="${list.theater_loc}"></span></td>
        </tr>
        <tr>
            <th scope="row" >극장 좌석 </th>
            <td><span th:text="${list.theater_totalseat}"></span></td>
        </tr>

        </tbody>
    </table>



        <!--<div class="mregdate">날짜 : <span th:text="${#temporals.format(list.mregdate, 'yyyy-MM-dd')}"></span></div>
        <div class="textArea"><pre th:text="${list.mcontent}"></pre></div>
        <div class="filename">파일명 : <a href="javascript:fileDownload()"><span th:text="${list.filename}"></span></a></div>-->














        <center><div>
            <a th:href="@{/adminTheater/list}">
                <button class="btn btn-outline-dark  " id="btn_list">스케줄 목록</button></a>
            <a th:href="@{'/adminTheater/modify?theater_area_num=' + ${list.theater_area_num}}">
                <button class="btn btn-outline-success" id="btn_modify">수정</button></a>
            <a  th:href="@{'/adminTheater/delete?theater_area_num=' + ${list.theater_area_num}}">
                <button class="btn btn-outline-danger" id="btn_delete">삭제</button></a>
        </div></center>
    </div>



</div>
</body>
</html>