<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <title>member</title>
    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">
        <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
    </th:block>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">

        <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>

    </th:block>

</head>

<div layout:fragment="content">

    <!--1번째 영화 card 줄-->
    <div id="MovieCard">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <div class="card">
                        <img src="https://img.megabox.co.kr/SharedImg/2021/12/16/ixl5QxDVs5Gn8nQN3rslK8BUmgFVklj8_420.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">스파이더맨: 노 웨이 홈</h6>
                            <p class="card-text"> 예매율 ... 개봉일 2021.12.15</p>
                            <p class="card-text2"> 평점 ... <a href="#" class="btn btn-primary">예매</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="card">
                        <img src="https://img.megabox.co.kr/SharedImg/2021/12/14/nJC9jEOHfHvvrbG0A1nnTCa2eUoFYnEY_420.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">킹스맨: 퍼스트 에이전트</h6>
                            <p class="card-text"> 예매율 ... 개봉일 2021.12.22</p>
                            <p class="card-text2"> 평점 ... <a href="#" class="btn btn-primary">예매</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="card">
                        <img src="https://img.megabox.co.kr/SharedImg/2021/12/09/zmGroljDQtGcKUYrY6xMdhErBIIkcutu_420.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">매트릭스: 리저렉션</h6>
                            <p class="card-text"> 예매율 ... 개봉일 2021.12.22</p>
                            <p class="card-text2"> 평점 ... <a href="#" class="btn btn-primary">예매</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="card">
                        <img src="https://img.megabox.co.kr/SharedImg/2021/10/28/VaHea7auMBdhX3HVS7fGc0vX6CaOzUqy_420.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">[볼쇼이 발레 인 시네마] 호두까기 인형</h6>
                            <p class="card-text"> 예매율 ... 개봉일 2021.12.25</p>
                            <p class="card-text2"> 평점 ... <a href="#" class="btn btn-primary">예매</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
</div>
</html>