 <!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/}"><img src="https://img.cgv.co.kr/R2014/images/common/logo/logoRed.png" alt="" width="30%" class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" th:href="@{/movie/main}">영화</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" th:href="@{/theater/main}">극장</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/reservation/choiceMovie}" >예매</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" onclick="location.href='/store/main'" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            스토어
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/store/main}">Action</a></li>
                            <li><a class="dropdown-item" th:href="@{/store/main}">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/store/main}">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" th:href="@{/board/main}">이벤트</a>
                    </li>
                </ul>
                <div class="ligroup">
                    <button class="btn btn-dark" type="button" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" onclick="location.href='/admin/main'" >관리자페이지 진입(임시)</button>
                    <button class="btn btn-dark" type="button" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" >관리자 메뉴</button>
                    <button class="btn btn-dark" sec:authorize="isAnonymous()" type="button" data-bs-toggle="offcanvas"  onclick="location.href='/members/login'" >로그인</button>
                    <button class="btn btn-dark" sec:authorize="isAuthenticated()" type="button" data-bs-toggle="offcanvas"  onclick="location.href='/members/logout'" >로그아웃</button>

                </div>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
</html>